.header{
    width: 80%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('https://th.bing.com/th/id/OIP.VOaOEvwYAniES9pmpeY-rgHaEo?pid=Api&rs=1');
    background-repeat: no-repeat;
    border-radius: 10px;
}

.header > h1 {
    color: white;
    font-size: 35pt;
    font-weight: bolder;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.63);
}

.header,
.searchbar > input{
    margin: 20px;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    outline: none;
}

.searchbar,
.searchbar > input{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn{
    background-color: rgba(189, 99, 189, 0.986);
    border: none;
    color: white;
    font-weight: bolder;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 110ms;
}
.search-btn:focus,
.search-btn:hover{
    background-color: rgba(216, 39, 216, 0.986);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.info > button{
    padding: 10px;
}

.element{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.384);
}

.element:first-child{
    border:none;
    border-top-right-radius: 7px;
}

.element:last-child{
    border-bottom-right-radius: 7px;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.element > b {
    text-transform: uppercase;
}
.element.svg{
    justify-content: center;
}

.btn-svg{
    width: 5px;
}

.btn-ctn{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.add-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}

.body{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.tab > h2 {
    background-color: rgb(165, 82, 82);
    color: white;
    font-weight: bolder;
    text-align: center;
    border-top-left-radius: 7px;
    padding: 15px;
}
.tab{
    display: flex;
    flex-direction: column;
    flex:.20;
    background-color: rgb(236, 226, 226);
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom-left-radius: 7px;
}
.list{
    text-align: center;
}
.list-elt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    padding: 7px;
    transition: 110ms;
}
.list-elt:hover,
.list-elt:focus{
    background-color: rgb(211, 202, 202);
}

.body-info{
    display: flex;
    flex: .78;
    flex-direction: column;
    width: 100%;
}
